
<ion-content [fullscreen]="true">

    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">Favoritos</ion-col>
        </ion-row>
    </ion-grid>



    <div *ngFor="let favorito of favoritoPorGenero">

        <ion-grid fixed>
            <ion-row>
                <ion-col size="12">
                    <h4>{{favorito.genero}}</h4>
                </ion-col>
            </ion-row>
        </ion-grid>

        <app-slideshow-poster [data]="favorito.pelis" > </app-slideshow-poster>

    </div>

</ion-content>
